body {
    margin: 0;
    padding: 0;
    background-image: url("BG 7to10.png");
    background-size: 100% 200%;
}

.center {
    display: block;
    margin: auto;
}

#logo {
    width: 5em;
    border-radius: 180px;
    padding: 20px;
}

#presentation {
    border: 0;
    width: 50em;
    height: 30em;
    padding: 0 0 20px;
}

@media screen and (max-width: 992px) {
    #presentation {
        width: 25em;
        height: 15em;
    }
}